@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

/* .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:. .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:.  */
/* Intro Modal dialog */

dialog[open] {
  margin: auto; /* place in centre */
  padding: 1.8rem 3rem;
  background-color: rgb(234, 236, 228);
  color: var(--col02);
  border: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
}

p {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.4px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
#dialogCloseButton {
  background-color: black;
  color: rgb(234, 236, 228);
  padding: 0.6rem 1.4rem;
  border-radius: 7px;
}
/* .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:. .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:.  */

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  width: 85rem;
  height: auto;
}
.image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 85rem;
  height: auto;
}

.image3 {
  position: absolute;
  top: 38px;
  left: 254px;
  width: 42rem;
  height: auto;
}
