@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

/* .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:. .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:.  */
/* Intro Modal dialog */

body {
  background-color: rgb(234, 236, 228);
}

dialog[open] {
  margin: auto; /* place in centre */
  padding: 1.8rem 3rem;
  background-color: rgb(234, 236, 228);
  color: var(--col02);
  border: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
}

p {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.4px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
#dialogCloseButton {
  background-color: black;
  color: rgb(234, 236, 228);
  padding: 0.6rem 1.4rem;
  border-radius: 7px;
}
/* .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:. .:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:._.:*~*:.  */

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 24px;
  width: 85rem;
  height: auto;
}
/* needle */
.image2 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 85rem;
  height: auto;
}

/* rotate disk */

.rotate {
  animation: rotation 5s infinite linear;
  position: absolute;
  top: 38px;
  left: 278px;
  width: 42rem;
  height: auto;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotatable {
  transition: transform 0.5s ease-in-out; /* Smooth transition for rotation */
}

.rotated {
  transform: rotate(180deg); /* Or any desired rotation angle */
}

.container-start {
  position: absolute;
  top: 82%;
  left: 21%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.toggleButton {
  transition-duration: 0.4s;
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.4px;
  border-width: 1px;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  border-radius: 2px;
}

.toggleButton:hover {
  background-color: #babaae;
  color: black;
  font-size: 11px;
  transform-origin: center center;
  transition: 0.2s;
}

.container-info {
  position: absolute;
  top: 12%;
  left: 21%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.infoButton {
  transition-duration: 0.4s;
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.4px;
  border-width: 1px;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  position: absolute;
  border-radius: 2px;
}

.infoButton:hover {
  background-color: #babaae;
  color: black;
  font-size: 11px;
  transform-origin: center center;
  transition: 0.2s;
}

.slidecontainer {
  width: 14%; /* Width of the outside container */
  height: 5%;
  position: absolute;
  border: 1px solid black;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 73%;
  left: 67.5%;
  border-radius: 2px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 90%; /* Full-width */
  height: 10px; /* Specified height */
  background: #babaae;
  border: 0.7px solid black;
  outline: none; /* Remove outline */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 27px; /* Set a specific slider handle width */
  height: 32px; /* Slider handle height */
  background: url("img/slide.png");
  background-size: contain;
  cursor: pointer; /* Cursor on hover */
  transform: rotate(90deg);
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
  transform: rotate(90deg);
}
